{% extends 'base.html.twig' %}

{% block title %}{% endblock %}

{% block body %}
    <div class="sea-creature-container">
        <div class="genus-photo"></div>
        <div class="genus-details">
            <dl class="genus-details-list">
                <dt>Series:</dt>
                <dd>Octopodinae</dd>
                <dt>Episode:</dt>
                <dd>28</dd>
                <dt>Description:</dt>
                <dd>Octopuses can change the color of their body in just three-tenths of a second!</dd>
                <dt>Date published:</dt>
                <dd>01.01.2015</dd>
            </dl>
        </div>
    </div>
    <div class="notes-container">
    </div>
{% endblock %}
